<div><h3>Rediger annotation</h3></div>
<div>
    <table>
        <tr>
            <td>Start time:</td>
            <td>End time:</td>
        </tr>
        <tr>
            <td><input type="text" data-bind="value: starttime" /></td>
            <td><input type="text" data-bind="value: endtime" /></td>
        </tr>
        <tr>
            <td colspan="2">Title: </td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" data-bind="value: title" style="width:100%" /></td>
        </tr>
        <tr>
            <td colspan="2">Beskrivelse: </td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" data-bind="value: description" style="width:100%" /></td>
        </tr>
        <tr>
            <td>
                <button data-bind="click: btnsave">Gem</button>
            </td>
            <td>
                <button data-bind="click: btncancel">Annuller</button>
            </td>
        </tr>
    </table>
</div>
<hr />