<div>Rediger annotation</div>
<div>
    <table>
        <tr>
            <td>Start time:</td>
            <td>End time:</td>
        </tr>
        <tr>
            <td><input type="text" data-bind="value: starttime" /></td>
            <td><input type="text" data-bind="value: endtime" /></td>
        </tr>
        <tr>
            <td colspan="2">Title: </td>
        </tr>
        <tr>
            <input type="text" data-bind="value: title" />
        </tr>
        <tr>
            <td colspan="2">
                <button data-bind="click: btnsave">Gem</button>
            </td>
        </tr>
    </table>
</div>
<hr />
