<div>
    <table style="width:90%;">
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td data-bind="restext:'AnnCommentEdit_StartTime'">Start time:</td>
                        <td data-bind="restext:'AnnCommentEdit_EndTime'">End time:</td>
                    </tr>
                    <tr>
                        <td><input type="text" data-bind="value: starttime" /></td>
                        <td><input type="text" data-bind="value: endtime" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" data-bind="restext:'AnnCommentEdit_Title'">Title: </td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" data-bind="value: title" style="width:100%" /></td>
        </tr>
        <tr>
            <td colspan="2" data-bind="restext:'AnnCommentEdit_Description'">Beskrivelse: </td>
        </tr>
        <tr>
            <td colspan="2"><textarea data-bind="value: description" rows="5" style="width:100%"></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <button data-bind="click: btnsave,restext:'AnnCommentEdit_Save'">Gem</button>
                        </td>
                        <td>
                            <button data-bind="click: btncancel,restext:'AnnCommentEdit_Cancel'">Annuller</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<hr />