<h4>ARKIV METADATA</h4>

<h5 class="dotted" data-bind="restext: 'md_abstract'"></h5>
<div class="md-text" data-bind="text: mdAbstract"></div>

<h5 class="dotted" data-bind="restext: 'md_description'"></h5>
<div class="md-text" data-bind="text: mdDescription"></div>

<h5 class="dotted" data-bind="restext: 'md_publisher'"></h5>
<div class="md-text" data-bind="text: mdPublisher"></div>

<h5 class="dotted" data-bind="restext: 'md_subjects'"></h5>
<div class="md-tags" data-bind="foreach: mdSubjects">
    <button class="btn btn-tag" data-bind="text: $data"></button>
</div>

<h5 class="dotted" data-bind="restext: 'md_contributors'"></h5>
<table class="md-table table table-bordered">
    <tr>
        <th>Name</th>
        <th>RoleName</th>
        <th>RoleID</th>
    </tr>
    <!-- ko foreach: mdContributors -->
    <tr>
        <td data-bind="text: Name"></td>
        <td data-bind="text: RoleName"></td>
        <td data-bind="text: RoleID"></td>
    </tr>
    <!-- /ko -->
</table>

<h5 class="dotted" data-bind="restext: 'md_creators'"></h5>
<table class="md-table table table-bordered">
    <tr>
        <th>Name</th>
        <th>RoleName</th>
        <th>RoleID</th>
    </tr>
    <!-- ko foreach: mdCreators -->
    <tr>
        <td data-bind="text: Name"></td>
        <td data-bind="text: RoleName"></td>
        <td data-bind="text: RoleID"></td>
    </tr>
    <!-- /ko -->
</table>

<h5 class="dotted" data-bind="restext: 'md_locations'"></h5>
<div class="md-tags" data-bind="foreach: mdLocations">
    <button class="btn btn-tag" data-bind="text: $data"></button>
</div>

<h5 class="dotted" data-bind="restext: 'md_identifiers'"></h5>
<table class="md-table table table-bordered">
    <tr>
        <td>DR produktionsnr:</td>
        <td data-bind="text: mddrproductionnumber"></td>        
    </tr>
    <tr>
        <td>DR arkivnr:</td>
        <td data-bind="text: mddrarchivenumber"></td>
    </tr>
    <tr>
        <td>SB Doms nr:</td>
        <td data-bind="text: sbdomsid"></td>
    </tr>
</table>


<div style="margin-bottom:20px;"></div>

<!--<button data-bind="click: btnedit">ok</button>
<pre data-bind="text: JSON.stringify(ko.toJS($data), null, 2)"></pre>
<pre data-bind="text: $data"></pre>
<hr />-->
