<div>
    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <!-- ko foreach: breadcrumbitems -->
        <li data-bind="css:{active:isactive}">  
            <!-- ko if: (isactive) -->
            <span data-bind="text:title"></span>
            <!-- /ko -->      
            <!-- ko ifnot: (isactive) -->
            <a data-bind="text:title, click: click">o</a>
            <!-- /ko -->              
            <!-- ko if: ($index() !== ($parent.breadcrumbitems().length - 1)) -->
            <span class="divider">/</span>
            <!-- /ko -->      
        </li>
        <!-- /ko -->
    </ul>
</div>

<div data-bind="foreach: items">
    <a class="btn calitem" data-bind="click: click, css: {calitemsmall: issmall}">
        <span class='pull-left calitemtitle' data-bind="html: title"></span>
        <span>
            <span class='badge badge-info pull-right calitembatch' data-bind="text: count"></span>
            <span class="loader pull-right calitemloader" data-bind="css: { active: busy }"><i class="icon-spinner icon-spin"></i></span>
        </span>
    </a>
</div>
