<!--<form class="form-search pull-left" style="margin-bottom: 0; margin-top:4px">
<div class="input-append">
<input type="text" placeholder="skriv søgetekst..." class="search-query span6" data-bind="value: searchtext, valueUpdate: ['afterkeydown']">
<button type="submit" class="btn" data-bind="click: search, enable: cansearch">Søg</button>
</div>
</form>-->

<div class="input-append" style="margin-left:26px;margin-bottom:0px; margin-top:5px">
<input type="text" placeholder="skriv søgetekst..." class="span6" data-bind="value: searchtext, valueUpdate: ['afterkeydown'], event: { keypress: searchKeyboardCmd}">
<button class="btn" data-bind="click: search, enable: cansearch">Søg</button>
</div>
