<h1 data-bind="html: title"></h1>
<br/>
<div>Url: <span data-bind="html: mediaurl"></span></div>
<div id="larmplayer">Loading the player...</div>
<!--<div id="customTime">&nbsp;</div>
<p></p>-->
<div id="mytimeline"></div>
<div>Player position: <span data-bind="html: playerposition"></span></div>
<div>Player debug: <span data-bind="html: playerdebug"></span></div>
<button type="button" class="btn" data-bind="click: play">Play</button>
<button type="button" class="btn" data-bind="click: pause">Pause</button>
<hr/>
<div data-bind="foreach: metadataEditors">
    <div data-bind="compose: editor"></div>
</div>
<hr/>
<div>Date: <span data-bind="html: publication"></span></div>
<div>Channel: <span data-bind="html: channel"></span></div>
<div>Abstract <span data-bind="html: abstract"></span></div>
<br/>
<div><span data-bind="html: description"></span></div>

        <label>Description</label>
        <input type="text" style="width:100%;" data-bind="value: newdescription"/>
        <button type="button" class="btn" data-bind="click: saveMetadata">OK</button>

<div>

</div>
<pre data-bind="text: JSON.stringify(ko.toJS($data), null, 2)"></pre>