<h1 data-bind="html: title"></h1>
<br />
<div><small><span data-bind="html: mediaUrl"></span></small></div>
<div id="larmplayer">Loading the player...</div>
<div style="height:8px"></div>
<!--<div id="customTime">&nbsp;</div>
<p></p>-->
<!--<div><input type="checkbox" data-bind="checked: cbgroupannotations" />Grupper annotationer</div>-->
<!--<div id="mytimeline"></div>-->

<div class='btn-toolbar' class="pull-left">
    <div class='btn-group pull-left'>
        <!-- ko foreach: schemaItems -->
        <a data-bind="attr: { 'class': cssBtn}, click: click">
            <span class='pull-left' data-bind="html: title"></span>
            <span data-bind="text: count, attr: { 'class': cssBadge}"></span>
        </a>
        <!-- /ko -->
    </div>
</div>
<br />
<div style="height:8px"></div>

<div id="timelines"></div>
<div id="timelinescroll" style="opacity: 0; width: 100%; overflow-x: scroll">
    <div id="timelinescrollcontent" style="width:1px;height:1px"></div>
</div>
<div style="height:8px"></div>
<div>
<button type="button" class="btn" data-bind="click: play">Play</button> <button type="button" class="btn" data-bind="click: pause">Pause</button>
<!--&nbsp;Player position: <span data-bind="html: playerposition"></span> - Player debug: <span data-bind="html: playerdebug"></span>-->
</div>
<hr />
<div data-bind="foreach: metadataEditors">
    <div data-bind="compose: view"></div>
</div>
<h3>Metadata</h3>
<div data-bind="foreach: metadataViews">
    <div data-bind="compose: view"></div>
</div>

<!--<div>Date: <span data-bind="html: publication"></span></div>
<div>Channel: <span data-bind="html: channel"></span></div>
<div>Abstract <span data-bind="html: abstract"></span></div>
<br />
<div><span data-bind="html: description"></span></div>
<label>Description</label>
<input type="text" style="width:100%;" data-bind="value: newdescription" />
<button type="button" class="btn" data-bind="click: saveMetadata">OK</button>-->

<!--<pre data-bind="text: JSON.stringify(ko.toJS($data), null, 2)"></pre>-->