<div class="container-fluid">
    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                <!--<div style="margin-top: 12px;" data-bind="html: title"></div>-->
                <div style="margin-top: 12px;">
                    <!--ko compose: 'viewmodels/search/calendar' -->
                    <!--/ko-->
                    <!--ko compose: 'viewmodels/folderlist' -->
                    <!--/ko-->
                </div>
            </div>
        </div>
        <div class="span9">
            <div>
                <div class='btn-toolbar' class="pull-left">
                    <div class='btn-group pull-left'>
                        <!-- ko foreach: objtpfilteritems -->
                        <a class="btn" data-bind="css:{'btn-primary':isactive}, click: click">
                            <span class='pull-left' data-bind="html: title"></span>
                            <span class='badge pull-right wsobjecttypebatch' data-bind="text: count, css: {'badge-info': isactive}"></span>
                        </a>
                        <!-- /ko -->
                    </div>
                </div>
                <span class="clearfix"></span>
                <div class="pull-right wssorting">
                    <select data-bind="options: sortitems,
                            optionsText: 'title',
                            optionsValue: 'id',
                            value: sortvalue,
                            event:{ change: sortchanged}"></select>
                </div>
                <div class="pagination pagination-small pull-right wspagination">
                    <ul>
                        <!-- ko foreach: pagingitems -->
                        <li data-bind="css: { disabled: isdisabled, active: isactive }"><a href="#" data-bind="html: text, click: $parent.pagingclick"></a></li>
                        <!-- /ko -->
                    </ul>
                </div>
                <div class="pull-left wsresulthits"><span data-bind="text:resulttext"></span><span data-bind="visible: (objectsselectcount()>0)"> - <span data-bind="text:objectsselectcount"></span> valgt</span></div>
                <div class="row" style="clear: both; margin:0"><div class="span9" style="margin:0"><hr style="margin:0" /></div></div>
                <div>
                    <table id='searchresulttable' class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Vælg</th>
                                <th>Type</th>
                                <th>Titel</th>
                                <th>Dato</th>
                                <th>Varighed</th>
                                <th>Kanal</th>
                                <th>Brugerindhold</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: items -->
                            <!-- ko compose: 'objects/objectitem.html' -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                    <div class="loader" data-bind="css: { active: search.isSearching }">
                        <i class="icon-spinner icon-2x icon-spin"></i>
                    </div>
                </div>
                <div class="pagination pagination-small pull-right wspaginationbottom">
                    <ul>
                        <!-- ko foreach: pagingitems -->
                        <li data-bind="css: { disabled: isdisabled, active: isactive }"><a href="#" data-bind="html: text, click: $parent.pagingclick"></a></li>
                        <!-- /ko -->
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!--<li><a href="#" data-bind="text: $data, click: pagingclick }"></a></li>-->
