<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                        <i class="icon-home"></i>
                        <span data-bind="text: Settings.title"></span>
                    </a>
                </div>
                <div class="span7">
                    <!--ko compose: 'viewmodels/search/searchbox' -->
                    <!--/ko-->                    
                </div>
                <div class="span2">
                    <div class="nav loader pull-right" style="margin-top:5px;" data-bind="css: { active: router.isNavigating }">
                        <i class="icon-spinner icon-2x icon-spin"></i>
                    </div>                    
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a href="#" data-bind="click:loginbtnclick">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
