<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <img src="img/tre_logo.png" class="navbar-contenttopmargin" />
                </div>
                <div class="span7 navbar-contenttopmargin" style="white-space:nowrap;">
                    <div class="input-append" style="width:90%; margin-left:0; margin-right:0; margin-bottom:0; margin-top:5px">
                        <input type="text" style="width:80%;" placeholder="" data-bind="value: searchtext, valueUpdate: ['afterkeydown'], event: { keypress: searchKeyboardCmd}, resattr:{placeholder: 'searchboxhint'}">
                        <button class="btn" data-bind="click: search, enable: cansearch, restext:'search'">Søg</button>
                    </div>
                </div>
                <div class="span2">
                    <div class="nav loader pull-right" style="margin-top:5px;" data-bind="css: { active: router.isNavigating }">
                        <i class="icon-spinner icon-2x icon-spin"></i>
                    </div>                    
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li data-bind="visible: isAuthenticated()"><div style="overflow:hidden; margin-top:10px;"><a href="#" data-bind="click:loginbtnclick">L</a> - <a href="#" data-bind="click:WayfLogin">W</a></div></li>
                        <li data-bind="visible: isAuthenticated"><a href="#" data-bind="click:LogOut">Log out</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
