    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="row">
                <div class="span3">
                    <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                        <i class="icon-home"></i>
                        <span>Sendeplanen</span>
                    </a>
                </div>

                <!--            <ul class="nav" data-bind="foreach: router.navigationModel">
                                <li data-bind="css: { active: isActive }">
                                    <a data-bind="attr: { href: hash }, html: title"></a>
                                </li>
                            </ul>-->

                <div class="span7">
                    <!--ko compose: 'viewmodels/search/searchbox' -->
                    <!--/ko-->
                </div>

                <div class="span2">
                    <div class="pull-right">
<!--                        <div class="pull-left">
                            <button class="btn" data-bind="click:loginbtnclick">Login</button>                        
                        </div>-->
                        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                            <i class="icon-spinner icon-2x icon-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
