<div data-bind="event: {mouseover: mouseover, mouseout: mouseover}">
    <div class="md-annotation-firstcol">
        <div class="timeicon"></div>
        <div class="playbtn" data-bind="css:{mdannotationvisible: isPlayBtnVisible}"></div>
    </div>
    <div class="md-annotation" data-bind="click: btnexpand">
        <div class="md-annotation-text" data-bind="html: starttime"></div><div class="md-annotation-text">&nbsp;-&nbsp;</div><div class="md-annotation-text" data-bind="html: endtime"></div><div class="md-annotation-text">&nbsp;&nbsp;&nbsp;</div><div class="md-annotation-text md-annotation-title" data-bind="html: title"></div>
        <div class="md-annotation-text arrow" data-bind="css:{arrowdown: collapsed()==false}"></div>
    </div>
</div>
<div class="md-annotation-authorline" data-bind="css:{wshide: collapsed}, click: btnexpand">
    <div class="md-annotation-text icon"></div><div class="md-annotation-text author" data-bind="text: author"></div><div class="md-annotation-text date" data-bind="text: date"></div>
</div>

