@media (max-width: 979px) {
    .navbar-inner {
        min-height: 52px;
    }

    .navbar-contenttopmargin {
        margin-top: 6px;
    }
}

@media (min-width: 980px) {
    .page-host {
        top: 61px;
    }

    .navbar-inner {
        min-height: 61px;
    }

    .navbar-contenttopmargin {
        margin-top: 11px;
    }
}

/*@media (min-width: 768px) and (max-width: 979px) {

        .container{
                margin: 0;
        }
}
*/
/*@media (max-width: 979px) {

        .navbar-inner {
        }


        .navbar-fixed-top {
                position: relative;
                margin-bottom: 20px;
        }
}
*/
body {
    font-family: Arial, Verdana;
    color: #000000;
    font-size: 14px;
}

p {
    color: #666666;
}

h2 {
    font-family: Arial, Verdana;
    color: #5798f7;
    font-size: 30px;
    font-weight: bold;
}

.h2sub {
    margin-top: -18px;
    margin-left: 2px;
    color: #666666;
}

h4 {
    font-size: 14px;
    color: #666666;
}

h5 {
    font-size: 14px;
    color: #666666;
}

.dotted {
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom-color: #D6D6D6;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.ws-navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.ws-navbar-inner:before,
.ws-navbar-inner:after {
    display: table;
    line-height: 0;
    content: "";
}

.ws-navbar-inner:after {
    clear: both;
}

.md-annotation-firstcol > div {
    position: absolute;
}

.md-annotation-firstcol > .timeicon {
    visibility: visible;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 5px;
    width: 10px;
    height: 12px;
    padding-bottom: 4px;
    background-image: url(../img/player.png);
    background-position: -30px -145px;
}

.md-annotation-firstcol > .playbtn {
    visibility: hidden;
    margin-top: 7px;
    margin-left: 7px;
    width: 16px;
    height: 16px;
    background-image: url(../img/player.png);
    background-position: -276px -86px;
    cursor: pointer;
}

.md-annotation-firstcol > .mdannotationvisible {
    visibility: visible;
}

.md-annotation {
    margin: 0 0 5px 0;
    padding: 6px 0 5px 32px;
    border-bottom: 1px solid #DDDDDD;
    font-family: Arial;
    font-size: 15px;
    color: #666666;
    cursor: pointer;
}

.md-annotation-endline {
    margin: 10px 0 0 0;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
}

.md-annotation-text {
    display: inline-block;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
}

.md-annotation-text-overflow {
    display: inline-block;
    text-wrap: none;
    white-space: nowrap;
}

.md-annotation-title {
    width: 400px;
    color: #333333;
}

.md-annotation > .arrow {
    margin-top: 4px;
    margin-right: 14px;
    width: 8px;
    height: 8px;
    background-image: url(../img/player.png);
    background-position: -45px -145px;
    float: right;
    clear: both;
}

.md-annotation > .arrowdown {
    background-position: -60px -145px;
}

.md-annotation-authorline {
    height: 31px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #EEEEEE;
}

.md-annotation-authorline .icon {
    background-image: url(../img/player.png);
    background-position: -15px -145px;
    width: 14px;
    height: 11px;
    margin: 7px 10px 0 9px;
    padding: 0px;
    vertical-align: top;
}

.md-annotation-authorline .author {
    font-family: Arial;
    font-size: 12px;
    color: #5798F7;
    font-weight: bold;
    margin: 4px 0 0 0;
    padding: 0px;
}

.md-annotation-authorline .date {
    font-family: Arial;
    font-size: 12px;
    color: #333333;
    font-weight: normal;
    margin: 4px 0 0 10px;
    padding: 0px;
}

.md-annotation-authorline .optioniconhost {
    float: right;
    clear: both;
}

.md-annotation-authorline .optionicon {
    margin-top: 5px;
    margin-right: 14px;
    width: 15px;
    height: 15px;
    background-image: url(../img/player.png);
    background-position: -30px -98px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.md-text {
    width: 590px;
    font-size: 13px;
    color: #666666;
}

.md-tags {
    width: 590px;
    margin-top: 8px;
}

.md-table {
    width: 590px;
    margin-top: 8px;
}

.md-table th {
    background-color: #F5F5F5;
    color: #333;
    font-size: 13px;
}

.md-table td {
    color: #666;
}

.player {
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #BEBFBE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.playersidepanel {
    float: left;
    width: 134px;
}

.playersidepanelinner {
    text-align: center;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
}

.playerpositiontext {
    color: #555555;
    font-family: Arial;
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.playerpositionlefttext {
    color: #555555;
    font-family: Arial;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.playerbackbtn {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 0 solid #FFFFFF;
    padding: 0;
    margin: -1px 0 0 0;
    width: 21px;
    height: 33px;
    background-image: url(../img/player.png);
    background-position: 0 -64px;
}

.playerforwardbtn {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 0 solid #FFFFFF;
    padding: 0;
    margin: -1px 0 0 0;
    width: 21px;
    height: 33px;
    background-image: url(../img/player.png);
    background-position: -21px -64px;
}

.playerplaybtn {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 0 solid #FFFFFF;
    padding: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    background-image: url(../img/player.png);
    background-position: 0 0;
}

.playerpausebtn {
    background-position: -64px 0;
}

.playeraddannbtn {
    background-color: #FFFFFF;
    border: 1px solid #BEBFBE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    height: 33px;
}

.playerfixcursor {
    position: absolute;
    cursor: pointer;
    margin: -15px 0 0 -24px;
    padding: 0;
    width: 21px;
    height: 15px;
    background-image: url(../img/player_buttons.png);
    background-position: -1px -109px;
}

/*.playerfixcursor:hover {
        background-position: -1px -125px;
}
*/
.playerfixcursor_on {
    background-position: -1px -141px;
}

.md_player_btn_group {
    padding: 0px 8px 0 8px;
    margin: 8px 0 0 0;
    display: inline-block;
}

.md_player_btn_group > .mdpbtn {
    cursor: pointer;
    width: 35px;
    height: 26px;
    margin: 5px 0 0 0;
    padding: 0;
    display: inline-block;
}

.md_player_btn_group > .pointbegin {
    background-image: url(../img/player_buttons.png);
    background-position: -140px -1px;
}

.md_player_btn_group > .pointbegin:hover {
    background-position: -140px -28px;
}

.md_player_btn_group > .pointbegin:active {
    background-position: -140px -55px;
}

.md_player_btn_group > .pointend {
    background-image: url(../img/player_buttons.png);
    background-position: -176px -1px;
}

.md_player_btn_group > .pointend:hover {
    background-position: -176px -28px;
}

.md_player_btn_group > .pointend:active {
    background-position: -176px -55px;
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

.nav-tabs {
    margin: 0 0 6px 0;
    padding: 0;
}

.nav-tabs > li > a {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #5798F7;
    cursor: default;
}

.btn-tag {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5798f7;
    *background-color: #5798f7;
    background-image: -moz-linear-gradient(top, #5798f7, #5798f7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5798f7), to(#5798f7));
    background-image: -webkit-linear-gradient(top, #5798f7, #5798f7);
    background-image: -o-linear-gradient(top, #5798f7, #5798f7);
    background-image: linear-gradient(to bottom, #5798f7, #5798f7);
    background-repeat: repeat-x;
    border-color: #4b83d4 #4b83d4 #4b83d4;
    /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5798 F7', endColorstr='#ff5798 F7', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-tag:hover,
.btn-tag:focus,
.btn-tag:active,
.btn-tag.active,
.btn-tag.disabled,
.btn-tag[disabled] {
    color: rgba(255, 255, 255, 0.75);
    background-color: #5798f7;
}

.btn-tag-badge,
.btn-tag-badge[href] {
    background-color: #4b83d4;
}

.btn-tag-event {
    background-color: rgba(0, 109, 204, 0.1);
}

.btn-schema1 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88cc', endColorstr='#ff44cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-schema1:hover,
.btn-schema1:focus,
.btn-schema1:active,
.btn-schema1.active,
.btn-schema1.disabled,
.btn-schema1[disabled] {
    color: rgba(255, 255, 255, 0.75);
    background-color: #0044cc;
}

.btn-schema1-badge,
.btn-schema1-badge[href] {
    background-color: #002a80;
}

.btn-schema1-event {
    background-color: rgba(0, 109, 204, 0.1);
}

.btn-schema2 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-schema2:hover,
.btn-schema2:focus,
.btn-schema2:active,
.btn-schema2.active,
.btn-schema2.disabled,
.btn-schema2[disabled] {
    color: rgba(255, 255, 255, 0.75);
    background-color: #bd362f;
}

.btn-schema2-badge,
.btn-schema2-badge[href] {
    background-color: #802420;
}

.btn-schema2-event {
    background-color: rgba(218, 79, 73, 0.2);
}

.btn-schema3 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c 462', endColorstr='#ff51a 351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-schema3:hover,
.btn-schema3:focus,
.btn-schema3:active,
.btn-schema3.active,
.btn-schema3.disabled,
.btn-schema3[disabled] {
    color: rgba(255, 255, 255, 0.75);
    background-color: #51a351;
}

.btn-schema3-badge,
.btn-schema3-badge[href] {
    background-color: #387038;
}

.btn-schema3-event {
    background-color: rgba(91, 183, 91, 0.2);
}

.btn-schema4 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-schema4:hover,
.btn-schema4:focus,
.btn-schema4:active,
.btn-schema4.active,
.btn-schema4.disabled,
.btn-schema4[disabled] {
    color: rgba(255, 255, 255, 0.75);
    background-color: #f89406;
}

.btn-schema4-badge,
.btn-schema4-badge[href] {
    background-color: #ad6704;
}

.btn-schema4-event {
    background-color: rgba(250, 167, 50, 0.2);
}