
.bottomaligned {position:absolute; bottom:0;  margin-bottom:7px; left: 0;}
.bottomright {position:absolute; bottom:0;  margin-bottom:7px; margin:7px; right: 0;}
.bottomleft {position:absolute; bottom:0;  margin-bottom:7px; left: 100px;}
.fixedheight { height: 200px;  width: 243px;  position:relative; border:1px solid;}

.calitem{
   width: 130px;
   height: 24px;
   padding: 0; 
   margin: 0px 0px 3px 0px; 
}
.calitemsmall{
    width: 65px;
}

.calitem .calitemtitle{
    margin:2px 0px 0px 4px;
}

.calitem .calitembatch{
    margin:4px 4px 0px 0px;
    padding:2px 6px 2px 6px;
}

.calitem .calitemloader{
    margin:4px 4px 0px 0px;
}

.wsresulthits{
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;    
}

.wspagination{
    margin: 23px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.wspaginationbottom{
    margin: -40px 0px 40px 0px;
    padding: 0px 0px 0px 0px;
}

.wssorting{
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.wssmallfont{
    font-size: 11px;
}

.wsobjecttypebatch{
    margin:2px 0px 0px 7px;
}